/* Write your code here. */
.container {
  display: flex;
  flex-direction: column;
}

.heading {
  color: #0f172a;
  font-family: "Roboto";
  font-size: 25px;
}

.sub-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.box-container {
  border-radius: 5px;
  border-style: none;
  color: #ffffff;
  font-family: "Bree Serif";
  font-size: 15px;
  display: flex;
  flex-direction: row;
}

.box1 {
  background-color: #fbbf24;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box2 {
  background-color: #38bdf8;
  height: 180px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box3 {
  background-color: #ec4899;
  height: 250px;
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}
